#Title {
	-fx-font-size: 30.0;
	/*-fx-background-color: none;*/
}
.label {
    -fx-font-size: 16.0;
    -fx-font-weight: bold;
    /*-fx-background-color: red;*/
}
#Start {
	-fx-font-size: 24.0;
}